@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

img {
    pointer-events: none;
}

html {
    --scroll-behavior: smooth !important;
    scroll-behavior: smooth !important;
}
